*{
  margin: 0;
  padding: 0;
}

html, body, #root{
  width: 100% !important;
  height: 100% !important;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

table{
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

td{
  box-sizing: border-box;
  border: none;
}

td button{
  cursor: pointer;
  width: 165px;
  height: 165px;
  border: 1px solid black;
  font-size: 120pt;
  position: fixed;
}

.winMessage{
  margin-top: 50px;
  width: 100%;
  font-size: 18pt;
  text-align: center;
}